# API flavor. Either `openai` or `openrouter`.
#api = "openai"

# OpenAI API base URL. Everything before `chat/completions` in the URL.
api_url = "https://api.openai.com/v1/"

# Auth header `Authorization: Bearer {api_token}`, used by OpenAI endpoints.
api_token = "<API token>"

# Auth header `api-key: {api_key}`, used by Azure endpoints.
# Only one of `api_key` & `api_token` must be set.
#api_key = "<API key>"

# Optional `api-version` GET parameter, used by Azure endpoints.
#api_version = "2023-03-15-preview"

# HTTP request timeout in seconds. 5 mins by default.
#http_timeout = 300

# Model to use.
model = "gpt-4o-mini"

# Optional system message to initialize the model.
system_message = "You are a helpful assistant."

# Optional reasoning effort. Passed as is to the API. Typical values are:
# `minimal`, `low`, `medium`, or `high`.
#reasoning_effort = "medium"

# Optional reasoning budget (max tokens). Only supported by OpenRouter API. Only one of
# `reasoning_effort` & `reasoning_budget` can be supplied at the same time.
#reasoning_budget = 128

# Optional verbosity of the answers. Passed as is to the API. Typical values are:
# `low`, `medium`, or `high`.
#verbosity = "medium"

# Optional minimum conversation history to keep in the context.
#
# The context will be truncated to keep at least `min_history_tokens`, but
# no more than one request-response above this threshold, and under
# no circumstances more than `max_history_tokens`.
# This method of context truncation ensures that at least the latest round
# of messages is always kept (unless `max_history_tokens` kicks in).
min_history_tokens = 1000

# Optional maximum conversation history to keep in the context.
max_history_tokens = 2500

# Copy every response to clipboard via `xclip`.
#xclip = false

# Display token usage after each response. The information is displayed in the following format:
# input tokens (cached input tokens) / output tokens (reasoning tokens)
#show_token_usage = false

# Show reasoning (summary) performed by the model. Only supported when using OpenRouter API.
#show_reasoning = false

# Sanitize links. Currently strips `utm_source=openai` GET parameter from links in the response.
#sanitize_links = false

# Enable OpenRouter PDF engine. Typically one of `native`, `mistral-ocr`, `pdf-text`.
# Will be ignored with `openai` API.
#openrouter_pdf_engine = "native"

# Enable image generation. Only supported with OpenRouter.
#image_generation = false

# Extra parameters appended as is to the response, in JSON format.
#extra_params_json = '{ "image_config": { "aspect_ratio": "3:2" } }'
